/* Info.css */

.info-section {
    margin-top: 1rem;
    padding: 40px;
    background-color: #705135;
  }
  
  .carts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    /* width: 90%; */
    margin: auto;
    padding: 0 ;
  }
  
  .cart {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px ;
    max-width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;

    /* text-align: center; */
    transition: transform 0.3s ease;
    background-color: #9E806566;
    color: white;
  }
  
  .cart:hover {
    transform: translateY(-10px);
  }
  
  .cart img {
    max-width: 50px;
    margin-bottom: 15px;
  }
  
  .cart h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    /* color: #333; */
  }
  
  .cart p {
    /* color: #666; */
    color: white;
    font-size: 1em;
    padding: 1rem 0;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .carts {
      flex-direction: column;
      align-items: center;
    }
  
    .cart {
      max-width: 100%;
    }
  }
  