.product-section {
    padding: 40px;
}


.product-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}


.product-section .head{
display: flex;
justify-content: space-between;
}


.product-section  .see-all{
    text-decoration: none; 
    list-style: none;
    display: flex;
    align-self: center;
    gap: 1rem;
    color: orange;
}
.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    max-width: 200px;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product img {
    max-width: 100%;
    border-radius: 5px;
    background-color: rgb(205, 201, 201);
    padding: 20px 20px;
}

.product p {
    margin: 10px 0;
    color: #333;
    font-weight: bold;
}

.product .price {
    font-size: 18px;
    color: #ff7d00;
}

.product:hover {
    transform: scale(1.05);
}
.product .wight{
    font-size: 10px;
    color: orange;
}
.product .desc{
    font-size: 16px;
    text-decoration: line-through; /* إضافة خط عبر النص */

    color: rgb(159, 159, 159);
}
.product  .salary{
    display: flex;
    align-items: center;
    gap: 1rem;
}
