.signUp .container {
  display: flex;
  width: 80%;
  margin: auto;
  height: 500px;
  margin-top: 30px;
}
.signUp .left {
  flex: 1;
  width: 100%;
  height: 100%;
}
.signUp .right {
  flex: 1;
  position: relative;
  background-image: url("../../assets//rigister.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  right: 0;
  left: 0;
  width: 40%;
  height: 100%; /* Adjust height as needed */
  /* margin-top: 30px; */
  position: relative;
}
.signUp .right .content {
  text-align: center;
  align-items: center;
  justify-content: center; /* تم تعديل justify-content لتوسيط المحتوى */
  display: flex;
  flex-direction: column;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signUp .right .content h5 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
  margin-bottom: 1rem;
}
.signUp .right .content p {
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
}
.signUp .right .content button {
  padding: 0.75rem 4rem;
  border-radius: 8px;
  color: white;
  background-color: rgb(241, 128, 0);
  font-size: 1.45rem;
  font-weight: bold;
}
.signUp .right .content button:hover {
  color: rgb(241, 128, 0);
  background-color: white;
}
.signUp .container .left {
  border: 1px solid rgb(224, 223, 223);
}
.signUp .container .left .logo {
  /* background-color: aqua; */
  color: rgb(241, 128, 0);
  padding: 20px 0 0 20px;
}
.signUp .container .left .content {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.signUp .container .left form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  width: 50%;
  margin: auto;
}
.signUp .container .left h4 {
  margin-bottom: 0.4rem;
  font-size: 1rem;
}
.signUp .container .left p {
  color: rgb(180, 177, 177);
}

.signUp .container .left .social {
  display: flex;
  gap: 1rem;
}
.signUp .container .left button {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid rgb(168, 168, 168);
}

.signUp .container .left .line {
  width: 80%;
  margin: auto;
  margin: 1rem 0;
}
.signUp .container .left input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 0.5px solid rgb(208, 204, 204);
  border-radius: 5px;
  outline: none;
}
.signUp .container .left input::placeholder {
  color: gray;
}

.signUp .container .left form button {
  padding: 10px 30px;
  background-color: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}
.signUp .container .left form button:hover {
  color: rgb(241, 128, 0);
  background-color: white;
}

@media (max-width: 768px) {
  .signUp .container {
    flex-direction: column;
  }

  .signUp .right {
    display: none;
  }

  .signUp .left {
    flex: none;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .signUp .container form input {
    padding: 8px;
  }

  .social button {
    padding: 8px 16px;
    
  }

  .signUp .container .left form button {
    padding: 8px 16px;
  }
}
